[Unit]
Description=Disable all the LEDs on Banana Pi M1
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bpi_ledset eth0 b y g

[Install]
WantedBy=multi-user.target
